<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Item Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter item name" class="form-control" ngModel required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Quantity</label>
                    <input type="number" id="amount" name="amount" placeholder="quantity" class="form-control"  ngModel required pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="btns">
                    <button class="bsub" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>&nbsp;
                    <button class="bdel" type="button" (click)="onDelete()">Delete</button>&nbsp;
                    <button class="bclr" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>