/* .row{
    
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
}
.btns{
    margin-left: 30px;
}

.bsub{
    padding: 8px;
    border-radius: 8px;
    width: 80px;
background-color: rgb(75, 194, 111);
font-weight: bolder;

}
.bdel{
padding: 8px;
    border-radius: 8px;
    width: 80px;
    background-color: red;
    font-weight: bolder;
}


.bclr{
    padding: 8px;
    border-radius: 8px;
    width: 80px;
    background-color: orange;
    font-weight: bolder;
}

.form-control{
    padding: 25px;
    border-radius: 15px;
} */